//$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
// endbower

$primary_color: #555; //color for text, border
$secondary_color: #ffffff;


html, body {
  height: 100%;
}

body {
  //font-family: 'Fira Sans', sans-serif;
  font-family: 'Alegreya Sans', sans-serif;
  margin: 0;
  color: $primary_color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0 0 1em 0;
}

h2 {
  font-size: 2.1em;
}

p {
  font-size: 1.2em;
  font-family: 'PT Sans', sans-serif;
  margin: 0 0 2em 0;
}

#wrapper {
  height: 100%;
  //background-color: lightblue;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
  flex-direction: column;
  -webkit-justify-content: center;
      -ms-justify-content: center;
          justify-content: space-around;
 
  -webkit-align-items: center;
      -ms-align-items: center;
          align-items: center;
}

#intro {
  //background: tomato;
  text-align: center;

  & .picture {
    margin: 0 0 2em 0;
  }
  
  & h3 {
    margin-bottom: .6em;
  }

  h4, span {
    font-size: 1.4em;
    font-weight: 100;
  }

  & .intro-content {
    height: 60px;
    width: 100%;
    //background: yellow; 
  }

  ul {
    margin: 0 auto;
    padding: 0;
    width: 250px;
    font-size: 3.2rem;
    list-style: none;
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    justify-content: space-between;
  }
}

#arrow-link {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h5 {
    margin-bottom: 0px;
  }

  a {
    font-size: 2.2em;
  }
}

#portfolio {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #eee;

  .inner {
    //background: red;
    margin-top: 20px;
    max-width: 900px;
    margin: 0 auto;
    
    .feature {
      background-color: $secondary_color;
      margin: 4em 0; 
      padding-left: 24px;
      padding-right: 24px;
      //border: 1px solid black;
      // display: -webkit-flex;
      // display:     -ms-flex;
      // display:         flex;
      
      .image-wrapper {
        margin: 10px auto;
        padding: 5px;
        border: 1px solid $primary_color;
        border-radius: 5px;

        @media screen and (min-width: 768px) {
          &.pull-right-img {
            float: right;
          }
        }
      }

      .portfolio-content {
        //width: 100%;
        padding: 3em;

        @media screen and (max-width: 769px) {
          clear: right;
        }
      }
    }
  }
}

.img-profile {
  max-width: 150px;
}

h4.title {
  display: none;
}

// span#typed-sentences {
//   @extend p;
// }

