//$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
  height: 100%;
}

body {
  margin: 0
}

p {
  font-size: 18px;
}

.content {
  height: 60px;
  width: 100%;
  //background: yellow; 
}

.wrapper {
  height: 100%;
  //background-color: blue;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
  -webkit-justify-content: center;
      -ms-justify-content: center;
          justify-content: center;
 
  -webkit-align-items: center;
      -ms-align-items: center;
          align-items: center;
}

.about {
  padding: 100px;
  //background: tomato;
  text-align: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;

  flex-direction: column;
  justify-content: space-around;

  ul {
    margin: 0 auto;
    padding: 0;
    width: 250px;
    font-size: 4rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.img-profile {
  max-width: 150px;
}

p.title {
  display: none;
}

span.typed-sentences {
  font-size: 18px;
}

