@import '../variables';
@import '../main.scss';

#wrapper {
  height: 100%;
  //background-color: lightblue;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
  flex-direction: column;
  -webkit-justify-content: center;
      -ms-justify-content: center;
          justify-content: center;
  //         align-items: center;
}

#intro {
  text-align: center;

  & .picture {
    margin: 0 0 2em 0;
  }

  & h3 {
    margin-bottom: .6em;
  }

  h4, span {
    font-size: 1.4em;
    font-weight: 100;
  }

  & .intro-content {
    height: 60px;
    width: 100%;
  }

  ul {
    margin: 0 auto;
    padding: 0;
    width: 220px;
    font-size: 2.2rem;
    list-style: none;
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    justify-content: space-between;
  }
}

#arrow-link {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h5 {
    margin-bottom: 0px;
  }

  a {
    font-size: 2.2em;
    padding: 0.1em 1em;
  }

  @media screen and (max-height: 450px) {
    display: none;
  }
}

#logo {
  margin-top: -17px;
  margin-left: -5px;
  width: 32px;
  height: 32px;
}

.actions {
  a {
    margin: 10px 8px 0 0;
  }
}

.img-profile {
  margin: 0 auto;
  max-width: 150px;
}

.title {
  display: none;
  justify-content: center;
  margin-left: 20px;
  opacity: 0;
  transition: opacity 2s;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.title__link {
  margin-bottom: 0;
}
